# Entornos virtuales
venv/
env/
.env

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos locales
*.db
*.sqlite3

# Logs
*.log

# Archivos de sistema
.DS_Store

# Django
media/
staticfiles/
